*{
    font-family: sans-serif;
}
html {
    background: linear-gradient(to bottom, #a9c6de, #e7ecf0);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
}
.btnIcon {
    display: flex;
}
.toggleButton{
    background-color: transparent;
    border: 0;  
}
.toggleButton > img{
    height: 2rem;
    width: 2rem;
}
div > h4{
   margin-left: -6rem;
   font-weight:normal;
   color: #114474;
}
.btnContainer{
    display: flex;
    margin-left: 4.5rem;
}
.userIcon, img{
    height: 3.5rem;
}
.formContainer{
    margin: 0;
    padding: 0;
    background-color: floralwhite;
    height: 100%;
    width: 100%;
    margin-left: 4rem;
    margin-top: .7rem;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer > a {
    color: black;
    font-weight: bold;
}


